.address-bar {
    display: block;
    background-color: #fff;
    padding: 15px 10px 10px 10px;
    left: 0;

    &.fixed {
        position: fixed;
        width: 100%;
        top: 0;
        border: solid 1px #EEE;
        box-shadow: 0px 0px 8px 2px #ddd;
        z-index: 99;
    }

    .address-text {
        padding: 5px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        .address {
            white-space: nowrap;
            overflow: hidden;
            display: flex;
            text-overflow: ellipsis;
            color: #f7bc59;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            span {
                width: calc(100% - 23px);
            }
        }
        .chevron {
            margin-right: 10px;
        }

        @media (min-width: 768px) {
            justify-content: space-between;
        }
    }

    .icon {
        width: 23px;
        height: 23px;

        &.chevron {
            width: 30px;
            height: 30px;
        }
    }
}