.tab-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    @media (max-width: 425px) {
        justify-content: space-between;
        .tab-button {
            width: 100%;
        }
    }
}